/*
 * @Author: Aswath MadhuBabu 
 * @Date: 2017-06-21 14:35:07 
 * @Last Modified by:   Aswath MadhuBabu 
 * @Last Modified time: 2017-06-21 14:35:07 
 */
.App
{
    text-align: center;
}
.text-fluid
{
   
        border: 10px solid rgba(158, 158, 158, 0);
    border-left-color: #eb6864;;
}
*
{
    font-family: sans-serif;
    font-style: bold;
    font-weight: bolder;
}