/*
 * @Author: Aswath MadhuBabu 
 * @Date: 2017-06-21 15:21:40 
 * @Last Modified by: Aswath MadhuBabu
 * @Last Modified time: 2017-06-21 16:15:43
 */

.App
{
    text-align: center;
}
.text-fluid
{
   
        border: 10px solid rgba(158, 158, 158, 0);
    border-left-color: #eb6864;;
}
*
{
    font-family: sans-serif;
    font-style: bold;
    font-weight: bolder;
}
